<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-button fill="clear" color="dark" size="large" slot="end" (click)="cancel()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Código de Expediente</ion-label>
    <ion-input
      [(ngModel)]="expedienteId"
      name="expedienteId"
      placeholder="Ingrese el código"
      [readonly]="expedienteReadonly"
    >
    </ion-input>
  </ion-item>

  <!-- Select de motivos -->
  <ion-item>
    <ion-label position="stacked">Motivo</ion-label>
    <ion-select [(ngModel)]="selectedMotivo" placeholder="Seleccione un motivo">
      @for (motivo of motivos; track motivo.motivo_id) {
      <ion-select-option [value]="motivo.motivo_id">
        {{ motivo.motivo }}
      </ion-select-option>
      }
    </ion-select>
  </ion-item>

  <!-- Observaciones -->
  <ion-item>
    <ion-label position="stacked">
      Observaciones
    </ion-label>
    <ion-textarea [(ngModel)]="observaciones" name="observaciones" placeholder="Escriba aquí">
    </ion-textarea>
  </ion-item>

  <!-- Botón Guardar -->
  <ion-button expand="block" class="ion-margin-top" (click)="confirm()">
    Guardar
  </ion-button>
</ion-content>
