div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;     // separación entre cuadrados
  padding: 4px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;     // separación entre cuadrados
  padding: 4px;
}

ion-item {
   width: 100px;
   height: 100px;
   border: 2px solid #1357ab;
   border-radius: 32px; // bordes redondeados
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 4px; // separación entre cuadrados
   align-items: space-between;
   &.started{
      border: 2px solid red;
   }
}

span {
  width: 100%;
  height: 100%;
  font-size: medium;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  word-wrap: break-word; /* Permite salto de línea */
  overflow-wrap: break-word;
}
