<ion-content>
  @if(loading){
  <div class="loading-conitainer">
    <app-loading />
  </div>
  }
  @if(!loading){
  <div class="container">
    <div class="date-picker-container">
      <app-date-picker></app-date-picker>
    </div>
    <div class="routes-container">
      <ion-item lines="none" *ngFor="let r of routes" (click)="onClick(r.ruta, r.ruta_id)"
        [ngClass]="{'started': deliveredOrderTrace.includes(r.ruta_id)}">
        <span>{{ r.ruta }}</span>
      </ion-item>
    </div>
  </div>
  }
</ion-content>