ion-content::part(background) {
    background: linear-gradient(
    to bottom,
    #1357ab 0%,
    #183962 50%,
    #fff 50%,
    #fff 100%
  );
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* centra verticalmente */
  max-height: 100vh;
  background: transparent; 
}

ion-header {
  padding-top: var(--ion-safe-area-top);
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  h2{
    color: white;
    font-size: xx-large;
    margin-bottom: 20px;
  }

  img{
    width: 160px;
    margin-bottom: 20px;
  }
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 35vh; // Reducido de 50vh a 35vh
  padding-bottom: 1rem; // Reducido el padding
  color: #fff;
}

.login-logo {
  width: 120px;
  margin-bottom: 1rem;
}

.login-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.main-content {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  background: #fff;
  z-index: 1;
}

.error-message {
    color: #f44336;
    font-size: 0.8rem;
    margin: 0 0 10px 10px;
}

.login-form {
    background: #fff;
}

.ionItems {
    --background: #f2f2f2;
    border-radius: 8px;
    margin-bottom: 1rem;
    --border-width: 0 !important;
    --highlight-height: 0 !important; // Elimina la línea de enfoque
    box-shadow: none !important;
    border-bottom: none !important;   // Refuerzo extra
}

.login-form-card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10);
    padding: 2rem 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

ion-input {
    --background: #f2f2f2;
    --padding-start: 12px;
    --padding-end: 12px;
}

ion-button[type="submit"] {
    --background: #183962;
    color: #fff;
    font-weight: 600;
    margin-top: 1rem;
    height: 50px;
    width: 50%;
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ion-item,
ion-input,
ion-icon {
  color: #222 !important;
}

ion-input::part(native-input) {
  color: #222 !important;
}

ion-icon {
  font-size: 20px;
}

ion-input-password-toggle {
  --color: #222 !important; // Color negro
  margin-right: 4px;        // Ajusta el margen derecho si es necesario
  font-size: 22px;          // Opcional: tamaño del icono
  justify-content: flex-end;
  display: flex;
}

ion-input-password-toggle::part(icon) {
  color: #222 !important;
  fill: #222 !important;
  stroke: #222 !important;
}

ion-input-password-toggle svg {
  color: #222 !important;
  fill: #222 !important;
  stroke: #222 !important;
}