.signature-canvas {
  display: block;          // para que tome solo el espacio que le damos
  width: calc(100% - 4px); // ancho total de la pantalla menos 2px de margen a cada lado
  height: 300px;           // altura fija
  margin: 0 2px;           // 2px de margen horizontal
  border: 1px solid #000;
  touch-action: none;      // importante para que el canvas reciba correctamente los eventos táctiles en móviles
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
}