ion-content{
  overflow-y: hidden;
}

.timeline-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px; /* espacio para la línea */
  margin: 16px;
}

/* Línea vertical */
.timeline-line {
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 20px; /* Ajusta según el tamaño de los puntos */
  height: 100%;
  border-left: 2px dashed #1357ab; /* línea punteada */
}


/* Cada item de la línea de tiempo */
.timeline-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Punto en la línea */
.timeline-point {
  position: absolute;
  left: -25px;
  top: 20px;
  width: 12px;
  height: 12px;
  background-color: #1357ab;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #1357ab;

    &.red {
    background-color: red;
  }
}

.timeline-point.empty {
  background-color: white;      /* círculo vacío */
  border: 2px solid #1357ab;    /* contorno igual que la línea */
  box-shadow: none;              /* sin sombra para diferenciar de los entregados */
}


/* Tarjeta (ion-item) */
ion-item {
  width: 300px;
  min-height: 170px;
  border-radius: 16px;
  margin: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra verticalmente el contenido */
  align-items: flex-start; /* alinea a la izquierda el contenido dentro */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* sombra */
  background-color: #ffffff; /* fondo blanco */
}

.card-content h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-content ul {
  padding-left: 10px; /* separa los li del borde */
}

.card-content ul li {
  margin-bottom: 4px;
  list-style-type: "- "; 
}

.no-data{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: start;
}

.isDelivered{
  color: #1357abc5;
  background-color: rgb(245, 245, 245);
}

ion-item::part(native) {
  padding: 0;
  background: transparent;
}