.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    height: 100%;
    overflow-y: hidden;

    .error-icon {
        font-size: 4rem;
        color: var(--ion-color-warning);
    }

    .error-title {
        font-size: 8rem;
        font-weight: bold;
        color: var(--ion-color-dark);
        margin: 0;
    }

    h2 {
        font-size: 2rem;
        color: var(--ion-color-medium);
        margin: 0;
    }

    .error-message {
        font-size: 1.2rem;
        color: var(--ion-color-medium-tint);
        max-width: 300px;
    }

    .home-button {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-light);
        width: 200px;
    }
}